<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title th:text="#{pageTitle}">Home</title>

  <!-- Template CSS -->
  <link rel="stylesheet" th:href="@{/static/assets/css/style-starter.css}">

  <!-- google fonts -->
  <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body class="sidebar-menu-collapsed">
  <div>
    <form ></form>
    <h3>工地名称:</h3>
    <table>

    </table>
  </div>
</body>

</html>
  